{% extends 'base.html.twig' %}


{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                L'URL demand&eacute;e est inaccessible.
                <br/>
                <br/>
                Vous pouvez retourner &agrave; l'<a href="{{ path('accueil') }}">accueil du site</a> ou saisir &agrave;
                nouveau l'URL.
            </div>
        </div>
    </div>
{% endblock %}