{% extends 'base.html.twig' %}
{% block title %} - FAQ{% endblock %}
{% block description %}FAQ d'Adenia : pourquoi s'orienter vers une solution web ? Pourquoi mettre &agrave;
jour ses solutions ? Ou encore, comment choisir son partenaire  num&eacute;rique ?{% endblock %}
{% block keywords %}plan du site SARL Adenia{% endblock %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            Foire Aux Questions
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingBottom40">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="ct-squareThumbnail">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title">
                                <h2>Foire Aux Questions</h2><i class="fa fa-question"></i>
                            </div>
                            <div class="ct-squareThumbnail-content">
                                <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group ct-accordion--dark">
                                    <div class="panel panel-default">
                                        <div id="headingOne1" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                                    Q1. Pourquoi utiliser un logiciel développé spécifiquement plutôt qu'une solution générique existante ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Une solution g&eacute;n&eacute;rique vous permettra, bien souvent, de satisfaire
                                                    &agrave; tous les besoins de votre entreprise mais cela en usant du fameux "Syst&egrave;me D"
                                                    extr&ecirc;mement chronophage. Le temps que vous perdez est celui consacr&eacute; &agrave
                                                    trouver une astuce, cumul&eacute; au temps de la r&eacute;alisation de l'action
                                                    d&eacute;troun&eacute;e chaque fois que le besoin appara&icirc;t.
                                                    C'est &agrave; cela que r&eacute;pond la solution sp&eacute;cifique.
                                                    <br/>
                                                    <br/>
                                                    En utilisant <span class="text-little-accentuate">le vocabulaire de votre m&eacute;tier</span>,
                                                    en cr&eacute;ant une solution
                                                    &agrave; partir de <span class="text-little-accentuate">votre utilisation</span> et de
                                                    <span class="text-little-accentuate">vos besoins</span>, vous obtenez une solution
                                                    <span class="text-little-accentuate">ergonomique efficace</span>.
                                                    Ce n'est plus vous qui vous adaptez &agrave; votre outil
                                                    mais nous qui adaptons l'outil &agrave; votre besoin.
                                                </p>
                                            </div>
                                        </div>


                                        <div id="headingone2" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseone2" aria-expanded="true" aria-controls="collapseone2">
                                                    Q2. Pourquoi s'orienter vers une solution web ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseone2" role="tabpanel" aria-labelledby="headingone2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    L'application web offre 3 avantages majeurs face &agrave; l'application client lourd dite "classique" :
                                                    <br/>
                                                    <br/>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>
                                                            Accessibilit&eacute;
                                                            <br/>
                                                            Les supports informatique de travail se diversifient (tablette, smartphone, ordinateurs portables tactiles, etc.).
                                                            Les applications web permettent de retrouver ses donn&eacute; et ses outils sur tous les supports sans installation.
                                                            Il suffit d'une connexion internet et vous retrouvez l'int&eacute;gralit&eacute; de vos fonctionnalit&eacute;s sans
                                                            d&eacute;veloppement d'application suppl&eacute;mentaire.
                                                        </li>
                                                        <br/>
                                                        <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>
                                                            Compatibilit&eacute;
                                                            <br/>
                                                            De m&ecirc;me que les supports &eacute;voluent et se diversifient, les syst&egrave;mes d'exploitations changent
                                                            &eacute;galement. Vous en utilisez tous plusieurs : Windows, MacOS, Linux, Android, iOS, Windows Phone, etc. qui
                                                            &eacute;voluent aussi d'une version &agrave; une autre, avec les probl&egrave;mes de compatibilit&eacute; associ&eacute;s.
                                                            <br/>
                                                            Les applications Web permettent de s'affranchir du syst&egrave;me utilis&eacute; par la plateforme.
                                                            En effet, une application unique, install&eacute;e sur un serveur distant, et est accessible par l'utilisateur
                                                            qui se connecte à l'application gr&acirc;ce &agrave; son navigateur web favoris.
                                                        </li>
                                                        <br/>
                                                        <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>
                                                            Maintenabilit&eacute; et &eacute;volutivit&eacute;
                                                            <br/>
                                                            Parce que vos besoins &eacute;voluent au fil du temps, que les technologies progressent pour plus de rapidit&eacute;,
                                                            d'ergonomie, de fonctionnalit&eacute;s, et parce que votre m&eacute;tier &eacute;volue, vos outils informatique
                                                            doivent &eacute;voluer aussi. Les solutions web sont tr&egrave;s facile &agrave; mettre &agrave; jour. Que ce soit
                                                            pour une maintenance corrective ou un &eacute;volution majeure, une fois que l'application est mise &agrave; jour
                                                            sur le serveur, tous vos utilisateurs en b&eacute;n&eacute;ficient instantan&eacute;ment.
                                                        </li>
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>


                                        <div id="headingone3" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseone3" aria-expanded="true" aria-controls="collapseone3">
                                                    Q3. Pourquoi mettre à jour mes solutions web existantes ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseone3" role="tabpanel" aria-labelledby="headingone3" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    L'informatique &eacute;volue chaque jour. Les composants sont plus performants,
                                                    plus s&ucirc;r, plus ergonomique, ils permettent de cr&eacute;er de nouvelles fonctionnalit&eacute;s, etc.
                                                    Mettre &agrave; jour ses solutions web permet de gagner en s&eacute;curit&eacute;, en productivit&eacute;,
                                                    d'am&eacute;liorer l'exp&eacute;rience utilisateur ou encore de rajouter des fonctionnalit&eacute;s.
                                                </p>
                                            </div>
                                        </div>


                                        <div id="headingone4" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseone4" aria-expanded="true" aria-controls="collapseone4">
                                                    Q4. Comment choisir mon partenaire num&eacute;rique ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseone4" role="tabpanel" aria-labelledby="headingone4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Comme dans tous les secteurs touchant &agrave; la prestations de services,
                                                    nous vous conseillons de rencontrer plusieurs prestataires afin d'&eacute;changer
                                                    avec eux. En informatique, d&egrave;s qu'il s'agit de vente de service sp&eacute;cifique,
                                                    vous ne pouvez malheureusement pas juger de la qualit&eacute;
                                                    du service qui va vous &ecirc;tre propos&eacute; avant de choisir le prestataire.
                                                    Les composantes humaines peuvent donc vous &ecirc;tre d'une aide pr&eacute;cieuse.
                                                    N'h&eacute;sitez pas &agrave; rechercher des recommandations, &agrave; user du
                                                    bouche &agrave; oreilles et bien entendu le feeling que vous avez avec
                                                    votre interlocuteur est primordiale pour un travail en collaboration sur votre projet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom30">
                        Pour d&eacute;poser une question suppl&eacute;mentaire ou pour plus d'informations, n'h&eacute;sitez pas &agrave;
                        <a href="{{ path('contact') }}" class="text-accentuate">nous contacter</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}