{% extends 'base.html.twig' %}

{% block title %} - Partenariats{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Partenariats</span></h1>
            </div>
            <div>
                Florian Roussillon ?
                <br/>
                Elise Batisse-Dauquaire ?
                <br/>
            </div>
        </div>
    </div>
{% endblock %}