/** ----- MISE EN PAGE TEXTE ----- */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-accentuate {
    font-weight: bold;
    font-size: 120%;
}

.text-little-accentuate {
    font-weight: bold;
}

.ct-u-colorBlack {
    color: black;
}

.ct-u-colorPink {
    color: #B21D4F;
}

.bloc-paddingleft-30 {
    padding-left: 30px;
}

.accueil-title{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
.ct-u-colorBlack .accueil-title {
    text-shadow: 2px 2px #fff;
}
.ct-u-colorPink .accueil-title {
    text-shadow: 2px 2px #fff;
}

/** ----- HEADER ----- */
header .ct-slick .ct-slick-content {
    padding: 150px 0 150px 0;
}
.navbar .navbar-nav li:last-child a {
    padding-right: 18px;
}

/** ----- FOOTER ----- */
footer {
    /*background: black;
    background-image: url(../resources/texture.png);
    background-repeat:repeat;*/
    border-top: solid 2px #B21D4F;
    background-color: #0c0c0c;
    background-image:
    linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000),
    linear-gradient(60deg, #0d0d14 25%, transparent 26.5%, transparent 75%, #0d0d14 75%, #0d0d14),
    linear-gradient(60deg, #0d0d14 25%, transparent 26.5%, transparent 75%, #0d0d14 75%, #0d0d14);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

/*.redfooter {
    border-top: 2px solid #fff;
}

.redfooter a:hover{
    color: #fff;
}

footer .list-inline li {
    padding-right: 40px;
}

*/
footer {
    padding-left: 10%;
    padding-right: 10%;
    color: #5a5959;
}

footer, footer p {
    font-size: 12px;
    line-height: 20px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li {
    font-size: 12px;
    line-height: 15px;
}

footer .ct-list--circleWithIcons li {
    padding-left: 35px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
}

footer .ct-list--circleWithIcons li i {
    font-size: 20px;
    color: #5a5959;
}

footer .ct-list--circleWithIcons li a {
    padding-top: 5px;
}

footer a:hover, footer a:focus { color: #8b8a8a; }

footer .list-inline li {
    border-left: solid 1px #5a5959;
}
footer .list-inline li:first-child {
    border-left: none;
    padding-left: 0px;
}

.ct-information-contact a:hover{
    text-decoration: underline;
}

.navbar .btn:hover{
    text-decoration: none;
}

/** ----- TITRES ----- */
h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

/** ----- AUTRE ----- */
.ct-textDecoration--underlineBlack:after {

    background-color: #000;
}
.ct-textDecoration--underlinePink:after {

    background-color: #B21D4F;
}
.ct-textDecoration--underline:after {
    width: 100px;
    bottom: -30px;
}

.ct-list--circleWithIcons .ct-list-iconContainer {
    color: #B21D4F;
    font-size: 30px;
    top: 8px;
}

.ct-list--circleWithIcons .ct-list-iconContainer {
    background-color: transparent;
}

.ct-js-googleMap--contact .ct-googleMap {
    height: 350px;
}

.ct-form-grey input,
.ct-form-grey textarea {
    background-color: #ececec;
    border-color: #e5e5e5;
}

.ct-heading--striped .ct-right-extension {
    height: 100%;
}
.ct-heading--striped:before {
    height: 100%;
}

@media (min-width: 768px) {
    .ct-productBox .ct-productBox-Meta {
        padding-bottom: 0px;
        right: 15%;
        bottom: 60px;
        position: absolute;
    }
}
@media (max-width: 768px) {
    .ct-productBox .ct-productBox-Meta {
        padding-bottom: 0px;
        right: 25%;
        bottom: 5px;
        position: absolute;
    }
}
.ct-productBox .ct-productBox-DescriptionInner {
    padding: 40px 28px 20px 8px;
}

@media (min-width: 768px) {
    .fullsection {
        display: block;
    }
    .mobilesection {
        display: none;
    }
}
@media (max-width: 768px) {
    .fullsection {
        display: none;
    }
    .mobilesection {
        display: block;
    }
}

.widget-inner i {
    color: #B21D4F;
    margin-right: 11px;
    font-weight: bold;
    font-size: 18px;
}

.ct-article--bggrey {
    border-bottom: 2px solid #B21D4F;
    padding-top: 30px;
    background-color: #f9f9f9;
}
.ct-sidebar .widget .widget-inner a {
    padding: 10px 8px;
}

.list-article .ct-article--bggrey:last-child {
    border-bottom: none;
}

a { color: #B21D4F; }
a:hover, a:focus { color: #9b4064; }

.ct-iconBox .ct-iconBox-icon {;
    border: 2px solid #c8c8c8;
    color: #a5a5a5;
}
.ct-iconBox .ct-iconBox-description {
    border-bottom: none;
}

.ct-iconBox-description p {
    text-indent: 50px;
}

.ct-iconBox-description h2 {
    min-height: 48px;
}

.ct-iconBox {
    padding: 0px;
}
.container-accueil .ct-iconBox-description ul li {
    color: black;
}

.ct-iconBox-description ul {
    text-align: left;
    margin-left: 10%;
}

.ct-accordion--dark .panel-default > .panel-heading a {
    font-weight: 500;
}

#plan-du-site-list li a i {
    margin-left: 30px;
}

.ct-sidebar .widget .widget-inner p {
    padding: 10px 8px;
}

.ct-squareThumbnail-mask img {
    height: 120px;
    margin-top: -40px;
    margin-bottom: 20px;
}

/****************************************/
/*          GESTION POPUP GAME          */
/****************************************/
#popupWinSoftwareGameDiv {
    position: fixed;
    z-index: 999;
    width: 400px;
    text-align: left;
    top: 50%;
    margin-top: -60px;              /* fait dans le Open du JS */
    left:50%;
    margin-left: -200px;
    color: #4c4c4c;
    font-size: 14px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to top, #0747E5 95%, #3894FF);
}

#popupWinSoftwareGameDiv .header-popup {
    color: white;
    padding: 7px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}

#popupWinSoftwareGameDiv .body-popup {
    padding: 20px 0px;
    margin: 5px;
    background: #E5E4D2;
    border: solid 1px #19429E;
    box-shadow: 3px 3px 0px #19429E;
}

#popupWinSoftwareGameDiv .body-popup img {
    float: left;
    margin: 0 15px;
}

#popupWinSoftwareGameDiv .body-popup a {
    text-align: center;
    color: black;
}

#popupWinSoftwareGameDiv .body-popup .ok-bouton {
    margin-left: 40%;
    display: inline-block;
    background-color: #F0F7EF;
    border: 1px solid #15326E;
    width: 80px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 0px #A9CAF3 inset;
}
#popupWinSoftwareGameDiv .body-popup .ok-bouton:hover {
    background-color: #e5ece4;
    border:1px solid #000000;
}

#popupWinSoftwareGameDiv .header-popup .close-buton {
    text-align: center;
    color: white;
    background: #E06D3E;
    padding: 3px;
    border-radius: 3px;
    border: solid 1px white;
    box-shadow: 1px 1px 5px 0px #9e3c2a inset;
    height: 25px;
    width: 25px;
}

#popupWinSoftwareGameDiv .header-popup .close-buton:hover {
    background: #ce673c;
    box-shadow: 1px 1px 5px 0px #9e3c2a inset;
}




#popupWinSoftwareGameEndDiv {
    position: fixed;
    z-index: 999;
    text-align: left;
    width: 450px;
    top: 50%;
    margin-top: -150px;
    left:50%;
    margin-left: -225px;
    display: none;
    font-size: 14px;
    background: #A8ACF1;
}

#popupWinSoftwareGameEndDiv .header-popup .title {
    background: #D5D7F8;
    display: inline-block;
    font-weight: lighter;
}

#popupWinSoftwareGameEndDiv .header-popup img {
    margin: 3px 10px;
}

#popupWinSoftwareGameEndDiv .header-popup .close-buton {
    text-align: center;
    color: white;
    font-weight: lighter;
    background: #C75050;
    padding-left: 1px;
    height: 25px;
    width: 50px;
}

#popupWinSoftwareGameEndDiv .header-popup .close-buton:hover {
    background: #E04343;
}

#popupWinSoftwareGameEndDiv .body-popup {
    margin: 5px;
    background: #FFFFFF;
    border: solid 1px #707BAF;
}

#popupWinSoftwareGameEndDiv .body-popup .bandeau-url {
    background: #F0F0F0;
    border-bottom: solid 1px #C2C2C2;
}

#popupWinSoftwareGameEndDiv .body-popup .bandeau-url .url {
    border: solid 1px #BDC4CB;
    background: #FFFFFF;
}

#popupWinSoftwareGameEndDiv .body-popup .connexion {
    border: solid 1px #4D90FE;
    width: 150px;
    margin: 0px 20px;
    display: inline-block;
}

#popupWinSoftwareGameEndDiv .body-popup .ok-bouton {
    display: inline-block;
    margin: 40px 0px 20px 90px;
    color: #6e6e6e;
    background-color: #e6e6e6;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 0px #e8e8e8 inset;
}
#popupWinSoftwareGameEndDiv .body-popup .ok-bouton:hover {
    color: black;
    background-color: #e7e7e7;
    border:1px solid #b9b9b9;
}

/****************************************/
/*      GESTION SLIDER HOME PAGE        */
/****************************************/
@media (min-width: 768px) {
    #home .slick-slide        { height:500px; }
    #home .slick-slide img    { height:500px; }
}
@media (max-width: 768px) {
    #home .slick-slide        { height:300px; }
    #home .slick-slide img    { height:300px; }
}

.ct-topBar a:hover, .ct-topBar a:focus { color: #fff; }
.logo-viadeo { width: 20px; margin-bottom: 4px; }

.first-field { padding-left: 5px; padding-right: 15px; }
.left-padding {padding-left: 15px; }

/****************************************/
/*      GESTION COOKIE BAR              */
/****************************************/
#cookie-law-more { margin-left: 20px;}
#cookie-law-close-button { float: right}
#cookie-law-info-bar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    z-index: 999;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
/****************************************/

a.link-inline , .ct-squareThumbnail .ct-squareThumbnail-content a.link-inline  {
    text-decoration: underline; display: inline;
}