{% extends 'base.html.twig' %}
{% block title %} - L'équipe{% endblock %}
{% block description %}Présentation de l'équipe d'Adenia. Frédéric Grochowski et Stéphanie de Botton,
    co-gérants et développeurs expérimentés d'Adenia.{% endblock %}
{% block keywords %}équipe Frédéric Grochowski Stéphanie de Botton Adenia expérience complémentarité{% endblock %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            L'&eacute;quipe
                        </h1>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>
                        Les deux fondateurs d'Adenia mettent &agrave; votre disposition
                        leurs <span class="text-accentuate">comp&eacute;tences compl&eacute;mentaires</span>
                        et leur <span class="text-accentuate">professionnalisme</span>.
                    </p>
                    <div class="widget">
                        <div class="widget-inner">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-long-arrow-right"></i>
                                    Fr&eacute;d&eacute;ric Grochowski allie l'exp&eacute;rience
                                    de 14 ann&eacute;es de travail en soci&eacute;t&eacute; de service et la passion pour les
                                    nouvelles technologies et l'innovation.
                                </li>
                                <li><i class="fa fa-long-arrow-right"></i>
                                    St&eacute;phanie de Botton, ing&eacute;nieure
                                    dipl&ocirc;m&eacute;e de l'ISIMA, apporte des comp&eacute;tences solides et une vision
                                    jeune sur les technologies de l'information.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BLOCKS GRAND ECRANS -->
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 ct-u-backgroundMotive fullsection">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ct-iconBox ct-iconBox--withImage">
                        <div class="ct-personBox-image">
                            <img src="{{ asset('resources/frederic.jpg') }}" alt="Fr&eacute;d&eacute;ric" height="300px;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ct-iconBox ct-iconBox--withImage">
                        <div class="ct-personBox-image">
                            <img src="{{ asset('resources/stephanie.jpg') }}" alt="St&eacute;phanie" height="300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 fullsection">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-description" style="border-bottom: 0;">
                            <h3 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Fr&eacute;d&eacute;ric Grochowski</h3>
                            <p>
                                Professionnellement pr&eacute;sent depuis 14 ans dans le milieu informatique, j'ai pu suivre
                                l'&eacute;volution des performances, des fonctionnalit&eacute;s, et des besoin clients.
                                Durant ces ann&eacute;es, j'ai pu assister &agrave; la naissance et au developpement du
                                monde Web : un monde libre et ouvert qui change radicalement les habitudes de chacun.
                                C'est avec cet esprit, notre expertise technique et la compr&eacute;hension de vos besoins
                                que nous souhaitons vous accompagner dans votre recherche de solutions.
                            </p>
                            <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginTop40 ct-u-marginBottom10 ct-fs-i">
                                <p>
                                    "Il est raisonnable d'affirmer que la soci&eacute;t&eacute; du XXI&egrave;me si&egrave;cle
                                    sera fa&ccedil;onn&eacute;e par les technologies de l'Information.
                                    De m&ecirc;me que les machines capables d'am&eacute;liorer les capacit&eacute;s physiques
                                    de l'homme ont cr&eacute;&eacute;es la r&eacute;volution industrielle, de m&ecirc;me
                                    les ordinateurs par leur facult&eacute; d'&eacute;tendre les capacit&eacute;s mentales
                                    de l'homme, sont le moteur de l'actuelle "r&eacute;volution informatique".
                                    L'Odyss&eacute;e Informatique vient tout juste de commencer."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-description" style="border-bottom: 0;">
                            <h5 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">St&eacute;phanie de Botton</h5>
                            <p>
                                Dipl&ocirc;m&eacute;e de l'ISIMA en 2015, j'ai effectu&eacute; plus d'un an de stages
                                dans des entreprises allant de l'ESN multinationnale &agrave; la TPE locale. Ces
                                diff&eacute;rentes exp&eacute;riences m'ont permis de choisir un cadre et une
                                m&eacute;thode de travail en ad&eacute;quation avec ma personnalit&eacute; :
                                une entreprise &agrave; taille humaine centr&eacute;e sur la satisfaction de ses partenaires.
                            </p>
                            <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginTop40 ct-u-marginBottom10 ct-fs-i">
                                <p>
                                    "L'informatique est partout mais, bien souvent, c'est l'utilisateur qui doit se plier au fonctionnement de la machine
                                    alors que cela devrait &ecirc;tre l'inverse. D&eacute;velopper des solutions r&eacute;pondant sp&eacute;cifiquement aux probl&egrave;mes de nos clients, am&eacute;liorer leur
                                    quotidien, faire &eacute;voluer les syst&egrave;mes informatiques pour que la machine soit utile &agrave; l'homme. Voil&agrave; mes objectifs."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- BLOCKS MOBILE -->
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 ct-u-backgroundMotive mobilesection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-iconBox ct-iconBox--withImage">
                        <div class="ct-personBox-image"><img src="{{ asset('resources/frederic.jpg') }}" alt="Fr&eacute;d&eacute;ric">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 mobilesection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-description" style="border-bottom: 0;">
                            <h5 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Fr&eacute;d&eacute;ric Grochowski</h5>
                            <p>
                                Professionnellement pr&eacute;sent depuis 14 ans dans le milieu informatique, j'ai pu suivre
                                l'&eacute;volution des performances, des fonctionnalit&eacute;s, et des besoin clients.
                                Durant ces ann&eacute;es, j'ai pu assister &agrave; la naissance et au developpement du
                                monde Web : un monde libre et ouvert qui change radicalement les habitudes de chacun.
                                C'est avec cet esprit, notre expertise technique et la compr&eacute;hension de vos besoins
                                que nous souhaitons vous accompagner dans votre recherche de solutions.
                            </p>
                            <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginTop40 ct-u-marginBottom10 ct-fs-i">
                                <p>
                                    "Il est raisonnable d'affirmer que la soci&eacute;t&eacute; du XXI&egrave;me si&egrave;cle
                                    sera fa&ccedil;onn&eacute;e par les technologies de l'Information.
                                    De m&ecirc;me que les machines capables d'am&eacute;liorer les capacit&eacute;s physiques
                                    de l'homme ont cr&eacute;&eacute;es la r&eacute;volution industrielle, de m&ecirc;me
                                    les ordinateurs par leur facult&eacute; d'&eacute;tendre les capacit&eacute;s mentales
                                    de l'homme, sont le moteur de l'actuelle "r&eacute;volution informatique".
                                    L'Odyss&eacute;e Informatique vient tout juste de commencer."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 ct-u-backgroundMotive mobilesection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-iconBox ct-iconBox--withImage">
                        <div class="ct-personBox-image"><img src="{{ asset('resources/stephanie.jpg') }}" alt="St&eacute;phanie">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingTop10 ct-u-paddingBottom10 mobilesection">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-description" style="border-bottom: 0;">
                            <h3 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">St&eacute;phanie de Botton</h3>
                            <p>
                                Dipl&ocirc;m&eacute;e de l'ISIMA en 2015, j'ai effectu&eacute; plus d'un an de stages
                                dans des entreprises allant de l'ESN multinationnale &agrave; la TPE locale. Ces
                                diff&eacute;rentes exp&eacute;riences m'ont permis de choisir un cadre et une
                                m&eacute;thode de travail en ad&eacute;quation avec ma personnalit&eacute; :
                                une entreprise &agrave; taille humaine centr&eacute;e sur la satisfaction de ses partenaires.
                            </p>
                            <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginTop40 ct-u-marginBottom10 ct-fs-i">
                                <p>
                                    "L'informatique est partout mais, bien souvent, c'est l'utilisateur qui doit se plier au fonctionnement de la machine
                                    alors que cela devrait &ecirc;tre l'inverse. D&eacute;velopper des solutions r&eacute;pondant sp&eacute;cifiquement aux probl&egrave;mes de nos clients, am&eacute;liorer leur
                                    quotidien, faire &eacute;voluer les syst&egrave;mes informatiques pour que la machine soit utile &agrave; l'homme. Voil&agrave; mes objectifs."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}