{% extends 'base.html.twig' %}
{% block title %} - Historique{% endblock %}
{% block description %}Historique de l'entreprise Adenia{% endblock %}
{% block keywords %}historique création Adenia{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Historique</span></h1>
            </div>
            <div>
                A supp
            </div>
        </div>
    </div>
{% endblock %}