{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Historique</span></h1>
            </div>
            <div>
                A supp
            </div>
        </div>
    </div>
{% endblock %}