{% extends 'base.html.twig' %}
{% block title %} - Les plus d'Adenia{% endblock %}
{% block description %}Les plus de l'entreprise Adenia : les actions concrètes pour l'application des valeurs de
    l'entreprise au quotidien (la charte éthique, le suivi du projet, la relation de proximité, l'expérience, la compétence
    et l'open source).{% endblock %}
{% block keywords %}éthique proximité expérience confiance Open Source{% endblock %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-7 ct-u-marginBottom50">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            Les plus d'Adenia
                        </h1>
                    </div>
                    <p>
                        Afin de suivre les valeurs d'Adenia au quotidien, nous avons mis en place des actions concr&egrave;tes
                        que nous appliquons avec nos partenaires et dans nos d&eacute;veloppements.
                        Les valeurs sont tr&egrave;s importantes &agrave; nos yeux et nous souhaitons redonner du
                        sens &agrave; notre travail pour obtenir la satisfaction de l'humain avant tout.
                    </p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <img src="{{ asset('resources/fleur_acrostiche.png') }}"
                         style="margin-top: -50px;"
                         alt="Accueil, Disponibilit&eacute;, &Eacute;coute, Naviguer, Implication, Adenia">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ct-u-paddingTop50">
                    <div id="charte_ethique" style="top: -160px; position: relative;"></div>
                    <div class="ct-heading--striped text-capitalize ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">La charte &eacute;thique</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="bloc-paddingleft-30">
                        <p class="ct-u-marginBottom20 text-justify">
                            Nous mettons en place une charte &eacute;thique avec nos partenaires afin de d&eacute;finir les
                            bases d'une collaboration saine et fructueuse pour les deux parties. Cette charte rassemble les
                            r&egrave;gles de vies que nous d&eacute;terminons en amont avec le partenaire et elle doit &ecirc;tre
                            ratifi&eacute;e par les deux parties avant le d&eacute;but du projet.
                        </p>
                        <div id="suivi_projet" style="top: -90px; position: relative;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ct-u-paddingTop80">
                    <div class="ct-heading--striped text-capitalize ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">Le suivi du projet</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-stellar-background-ratio="0.8" data-centerMode="false" data-height="690" data-type="parallax"
             data-background="{{ asset('resources/fond.jpg') }}"
             data-background-mobile="{{ asset('resources/fond.jpg') }}" class="ct-mediaSection ct-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="bloc-paddingleft-30">
                            <p class="ct-u-marginBottom20 text-justify">
                                Nous vous proposons &agrave; des r&eacute;unions r&eacute;guli&egrave;res permettant
                                de suivre l'&eacute;volution de votre projet. Ces r&eacute;unions vous permettent d'avoir
                                une meilleur visibilit&eacute; sur l'avanc&eacute;e de votre produit et de vous rassurer
                                sur vos attentes.
                                Il peut arriver que vos besoins &eacute;voluent au cours du projet. Des r&eacute;unions
                                fr&eacute;quentes et un suivi du projet r&eacute;gulier vous offrent une satisfaction optimale
                                sur le produit final.
                                <br/>
                                Afin de faciliter ce suivi de projet, nous mettons &agrave; votre disposition
                                une version en cours de d&eacute;veloppement et une plateforme d'&eacute;change de documents
                                et de suivi de dossier sera bient&ocirc;t disponible depuis notre site internet.
                            </p>
                            <div id="proximite" style="top: -90px; position: relative;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ct-u-paddingTop80">
                        <div class="ct-heading--striped text-capitalize ct-u-top-50">
                            <h2 class="pull-left" style="line-height: 26px;">La relation de proximit&eacute;</h2>
                            <div class="clearfix"></div>
                            <div class="ct-right-extension"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="bloc-paddingleft-30">
                            <p class="ct-u-marginBottom20 text-justify">
                                Nous souhaitons &eacute;tablir une relation de confiance entre nos partenaires et nous. Pour cela
                                nous privil&eacute;gions des rencontres directes fr&eacute;quentes (au moins une fois pour
                                un client hors Auvergne). Nous sommes joignable du lundi au vendredi de 8h30 &agrave; 18h par
                                t&eacute;l&eacute;phone et nous rendons rapidement disponible pour un rendez-vous si besoin est.
                                Bien qu'ayant des comp&eacute;tences solides dans un domaine purement informatique, nous
                                consid&eacute;rons que le coeur de notre m&eacute;tier est le service de nos clients car c'est
                                pour eux que nous exer&ccedil;ons notre savoir.
                            </p>
                            <div id="experience" style="top: -90px; position: relative;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 ct-u-paddingTop80">
                        <div class="ct-heading--striped text-capitalize ct-u-top-50">
                            <h2 class="pull-left" style="line-height: 26px;">L'Exp&eacute;rience et la comp&eacute;tence</h2>
                            <div class="clearfix"></div>
                            <div class="ct-right-extension"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="bloc-paddingleft-30">
                            <p class="ct-u-marginBottom70 text-justify">
                                Bien que notre entreprise soit jeune nous lui apportons chacun des comp&eacute;tences
                                compl&eacute;mentaires solides. Fr&eacute;d&eacute;ric a travaill&eacute; plus de 14 ans en soci&eacute;t&eacute;
                                de service informatique et a g&eacute;r&eacute; son propre p&ocirc;le web durant les 5 derni&egrave;res
                                ann&eacute;es. Il a l'habitude de rencontrer les demandeurs, d'analyser, de comprendre leurs
                                besoins et de les accompagner tout au long du precessus de cr&eacute;ation.
                                St&eacute;phanie, d'ipl&ocirc;m&eacute;e de l'ISIMA (grande &eacute;cole d'ing&eacute;nieur
                                publique en informatique), apporte &agrave; Adenia des bases solides et une vision neuve de l'informatique. Son
                                organisation, son relationnel et son envie de fournir un travail de qualit&eacute; l'ont
                                pouss&eacute;s vers la cr&eacute;ation d'entreprise.
                                <br/>
                                Ce sont les valeurs communes qui ont r&eacute;unis St&eacute;phanie et Fr&eacute;d&eacute;ric
                                pour cr&eacute;er Adenia : effectuer un travail de qualit&eacute; pour satisfaire au mieux le client.
                                Pour cela une veille permanente est n&eacute;cessaire afin de fournir les meilleurs solutions
                                aux partenaires. Comme dans tout m&eacute;tier, l'informatique est vaste et pour des demandes
                                sortant du cadre d'activit&eacute; d'Adenia nous avons des contacts &agrave; vous proposer,
                                n'h&eacute;sitez &agrave; nous contacter.
                                <!-- #TODO pour plus tard : parler des partenaires et du type de partenaires -->
                            </p>
                            <div id="opensource" style="top: -70px; position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ct-u-paddingTop30 ct-u-paddingBottom30">
                    <div class="ct-heading--striped text-capitalize ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">L'Open source</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="bloc-paddingleft-30">
                        <p class="ct-u-marginBottom20 text-justify">
                            L'approche moderne du d&eacute;veloppement consiste aujourd'hui, d'un point de vue technique, 
                            &agrave; assembler des composants, grands et petits. Les composant que nous utilisons proviennent, 
                            pour l'essentiel, du monde open source. Tout d'abord parce que la philisophie du logiciel 
                            libre refl&egrave;te nos propres valeurs : le respect de la libert&eacute; de l'utilisateur
                            et l'esprit collaboratif ou chacun peut contribuer. De plus, cela nous permet de s&eacute;lectionner
                            les composants open source qui offrent le plus de puissance, de fiabilit&eacute; et de
                            long&eacute;vit&eacute; pour chacune des fonctionnalit&eacute;s dont nous avons besoin.
                            Nous restons de ce fait compl&egrave;tement ind&eacute;pendant quand &agrave; leur choix et
                            leur utilisation.
                            Nous pouvons alors nous consacrer pleinement &agrave; la valeur ajout&eacute;e de
                            votre application : votre m&eacute;tier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}