{% extends 'base.html.twig' %}

{% block title %} - Références{% endblock %}
{% block description %}Partenaires avec qui nous travaillons.{% endblock %}
{% block keywords %}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>R&eacute;f&eacute;rences</span></h1>
            </div>
            <div>
                ???
            </div>
        </div>
    </div>
{% endblock %}