{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>L'OpenSource et moi</span></h1>
            </div>
            <div>
                <h2>Qu'est-ce que l'OpenSource ?</h2>
                bla bla bla
                <br/>
                <a href="{{ path('opensource_philosophie') }}">Plus d'informations sur l'OpenSource.</a>
                <br/>
                <h2>En quoi l'OpenSource peut-il m'apporter quelque chose ?</h2>
                <br/>
                <h2>Qu'est-ce que l'OpenSource va changer dans la vie de mon projet ?</h2>
                <br/>
                Pour en savoir plus sur l'OpenSource et son application dans votre projet n'h&eacute;sitez pas &agrave;
                <a href="{{ path('contact') }}">nous contacter</a>.
            </div>
        </div>
    </div>
{% endblock %}