{% extends 'base.html.twig' %}
{% block title %} - L'open source et moi{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            L'Open Source et moi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
{#                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title">
                                <h2>Foire Aux Questions</h2><i class="fa fa-question"></i>
                            </div>
                            <div class="ct-squareThumbnail-content">
                                <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group ct-accordion--dark">
                                    <div class="panel panel-default">
                                        <div id="headingOne1" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1"  aria-controls="collapseOne1">
                                                    Q1. Qu'est-ce que l'Open Source ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1" class="panel-collapse collapse" >
                                            <div class="panel-body text-justify">
                                                <br>
                                                <p>
                                                    L'expression Open Source, qui signifie littéralement "source ouverte"
                                                    en français, désigne les logiciels dont la licence respecte
                                                    les critères définis par l'association <a class="link-inline" href="https://opensource.org/" target="_blank">Open Source Initiative (OSI)</a>.
                                                </p>
                                                <br>
                                                <p>
                                                    L’Open Source Initiative défend en particulier la liberté d'accéder
                                                    aux sources des programmes ainsi que la possibilité de libre redistribution
                                                    et de cr&eacute;ation de travaux d&eacute;riv&eacute;s.
                                                </p>
                                                <br>
                                                <p>
                                                    Le logiciel Open Source regroupe une communauté de
                                                    programmeurs qui améliorent ensemble les codes sources et partagent les
                                                    changements au grand public qui peut ainsi contribuer aux modifications.

                                                    L'Open Source désigne un logiciel dans lequel le code source est à la
                                                    disposition du grand public, et c'est généralement un effort de collaboration où les
                                                    programmeurs améliorent ensemble le code source et partagent les
                                                    changements au sein de la communauté ainsi que d'autres membres peuvent contribuer.
                                                    <br><br>
                                                    Adenia privilégie donc, dans la conception des solutions informatique qu'elle réalise, l'utilisation de briques Open Source robustes et pereine
                                                    afin de garantir la qualité des developpements et son indépendance sur les choix des différentes briques.
                                                </p>
                                                <br><br>
                                                <p>
                                                    <i class="fa fa-info-circle"></i> Plus d'informations sur <a class="link-inline" href="{{ path('opensource_philosophie') }}">la philosophie de l'Open Source.</a>
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div id="headingOne2" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                                    Q2. En quoi l'utilisation de l'Open Source est-elle avantageuse ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne2" role="tabpanel" aria-labelledby="headingOne2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <br>
                                                <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Transparence du code source</h5>
                                                <br>
                                                <p>
                                                    Contrairement aux solutions propriétaire, le code source étant à disposition, on peut facilement vérifier le fonctionnement et les fonctionnalités effectives d’un logiciel.
                                                    On s'assure ainsi que des fonctionnalités non désirées n'aient pas été intégrées durant la conception du logiciel (le logiciel collecte-t-il des données anonymes, contient t-il des codes malicieux ?).
                                                </p>
                                                <br>
                                                <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Faible coût d'acquisition</h5>
                                                <br>
                                                <p>
                                                    Le coût bien souvent nul de la majorité des solutions Open Source utilisées pour la création de la solution.
                                                    Vous économisez ainsi les frais de licence éventuels par rapport aux solutions propriétaires.
                                                </p>

                                                <br>
                                                <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Développement communautaire</h5>
                                                <br>
                                                <p>
                                                    Les communautés développent chaque partie des logiciels libres et Open Source. Le développement communautaire favorise la réactivité lorsqu'il s'agit de corriger un bug ou une faille de sécurité.
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div id="headingOne3" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                                                    Q3. Qu'est-ce que l'Open Source va changer dans la vie de mon projet ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne3" role="tabpanel" aria-labelledby="headingOne3" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <br>
                                               <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Standards et repect des normes</h5>
                                                <br>
                                                <p>
                                                    Votre application est conçue via l'utilisation de solutions respectants les normes standards développées par la communauté édictées par les organisations supranationales compétentes.
                                                    Le respect des standards ouverts assure à votre entreprise la pérennité de ses applications internes et favorise l’inter-opérabilité des systèmes dans l’entreprise et avec ses partenaires.
                                                </p>
                                                <br>
                                                <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Indépendance vis à vis d'éditeurs ou de prestataires</h5>
                                                <br>
                                                <p>
                                                    Vous restez totalement indépendant de votre prestataire : si vous souhaitez en changez ou si celui-ci n'existe plus, vous pouvez confier les sources de votre application au nouveau partenaire.
                                                </p>
                                                <br>
                                                <h5><i class="fa fa-arrow-circle-o-right "></i>&nbsp; Extensibilité</h5>
                                                <br>
                                                <p>
                                                    L'ajout de nouvelles fonctionnalités à une application Open Source est plus simple. La communauté de développeurs a peut-être déjà travaillé sur certaines et ces fonctionnalités et, pour d'autres
                                                    un développement complémentaire peut être envisagé par n'importe quel prestataire spécialisé.
                                                </p>
                                            </div>
                                        </div>
                                        <!--
                                        <div id="headingOne4" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                    Q4. Question ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne4" role="tabpanel" aria-labelledby="headingOne4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    R&eacute;ponse !
                                                </p>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-squareThumbnail">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title">
                                <h2>Foire Aux Questions</h2><i class="fa fa-question"></i>
                            </div>
                            <div class="ct-squareThumbnail-content">
                                <div id="accordion1" role="tablist" aria-multiselectable="true" class="panel-group ct-accordion--dark">
                                    <div class="panel panel-default">
                                        <div id="headingOne11" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne11"  aria-controls="collapseOne11">
                                                    Q1. Qu'est-ce que l'Open Source ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne11" role="tabpanel" aria-labelledby="headingOne11" class="panel-collapse collapse" >
                                            <div class="panel-body text-justify">
                                                <br>
                                                <p>
                                                    L’expression Open Source, qui signifie littéralement "source ouverte"
                                                    en français, désigne les logiciels dont la licence respecte les critères
                                                    définis par l’association
                                                    <a class="link-inline" href="https://opensource.org/" target="_blank">Open Source Initiative (OSI)</a>.
                                                    L’Open Source Initiative défend en particulier la liberté d’accéder aux
                                                    sources des programmes ainsi que la possibilité de libre redistribution
                                                    et de création de travaux dérivés.
                                                </p>
                                                <br>
                                                <p>
                                                    Une communauté de développeurs créée et améliore les codes sources des
                                                    programmes Open Source en les mettant à disposition du grand public.
                                                    Tout le monde peut ensuite participer en corrigeant et améliorant les
                                                    différents codes sources.
                                                </p>
                                                <br>
                                                <p>
                                                    Adenia privilégie donc, dans la conception des solutions informatique
                                                    qu'elle réalise, l'utilisation de briques Open Source robustes et pereine
                                                    afin de garantir la qualité des developpements et son indépendance dans
                                                    les choix des différentes briques.
                                                </p>
                                                <br><br>
                                                <p>
                                                    <i class="fa fa-info-circle"></i> Plus d'informations sur <a class="link-inline" href="{{ path('opensource_philosophie') }}">la philosophie de l'Open Source.</a>
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                        <div id="headingOne21" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne21" aria-expanded="true" aria-controls="collapseOne21">
                                                    Q2. En quoi l'utilisation de l'Open Source est-elle avantageuse ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne21" role="tabpanel" aria-labelledby="headingOne21" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="widget">
                                                    <div class="widget-inner">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    Transparence du code source
                                                                </h5>
                                                                <p>
                                                                    Contrairement aux solutions propriétaire, le code source
                                                                    étant accessible, il est possible vérifier les mécanismes internes
                                                                    et les fonctionnalités effectives des logiciels.
                                                                    On s'assure ainsi que des fonctionnalités non désirées n'aient
                                                                    pas été intégrées durant la conception du logiciel (le logiciel
                                                                    collecte-t-il des données anonymes, contient t-il des codes malicieux ?).
                                                                </p>
                                                            </li>
                                                            <br/>
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    Indépendance vis à vis de l'éditeurs ou du prestataires
                                                                </h5>
                                                                <p>
                                                                    Vous restez totalement indépendant de votre prestataire :
                                                                    si vous souhaitez en changez ou si celui-ci n'existe plus,
                                                                    vous pouvez confier les sources de votre application à un
                                                                    nouveau partenaire. Dans le cas d'un logiciel propriétaire
                                                                    vous n'avez pas nécessairement les sources de votre application,
                                                                    surveillez votre contrat.
                                                                </p>
                                                            </li>
                                                            <br/>
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    Faible coût d'acquisition
                                                                </h5>
                                                                <p>
                                                                    Le coût bien souvent nul des solutions Open Source utilisées
                                                                    pour la création de votre solution vous permet d'économiser les
                                                                    frais de licence courant dans les solutions propriétaires.
                                                                </p>
                                                            </li>
                                                            <br/>
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    Qualité et réactivité
                                                                </h5>
                                                                <p>
                                                                    Les briques ou logiciels Open Source sont développés et
                                                                    mis à jour constamment par la communauté en suivant les
                                                                    évolutions technologiques. Ce développement communautaire
                                                                     fournit des outils optimisés en terme de qualité,
                                                                    de sécurité et d'ergonomie.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="headingOne31" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne31" aria-expanded="true" aria-controls="collapseOne31">
                                                    Q3. Qu'est-ce que l'Open Source va changer dans la vie de mon projet ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne31" role="tabpanel" aria-labelledby="headingOne31" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="widget">
                                                    <div class="widget-inner">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    Inter-opérabilité et maintenance facilitées
                                                                </h5>
                                                                <p>
                                                                    Nous développons votre application en respectant les normes
                                                                    standards édictées par les organisations
                                                                    supranationales compétentes (W3C).
                                                                    Le respect de ces standards ouverts vous assure la pérennité de vos
                                                                    applications internes et favorise l’inter-opérabilité de vos systèmes interne à l’entreprise
                                                                    et avec vos éventuels partenaires.
                                                                    <br/>
                                                                    Les sources étant accessibles et respectant les standards internationnaux de
                                                                    développement, la maintenance et l'évolution de votre outil
                                                                    en sont facilités.
                                                                    Vous restez également indépendant de votre prestataire :
                                                                    si vous souhaitez en changez ou si celui-ci n'existe plus,
                                                                    vous pouvez confier les sources de votre application à un
                                                                    nouveau partenaire.
                                                                </p>
                                                            </li>
                                                            <br/>
                                                            <li>
                                                                <h5 class="ct-u-marginBottom20">
                                                                    <i class="fa fa-long-arrow-right"></i>
                                                                    &Eacute;volution simplifié
                                                                </h5>
                                                                <p>
                                                                    L'ajout de nouvelles fonctionnalités à une application
                                                                    Open Source est plus simple. Des briques facilitant le
                                                                    développement de la nouvelle fonctionnalité existent
                                                                    probablement déjà.
                                                                    De plus, Adenia développe ses applications dans une optique
                                                                    la plus modulaire possible car les projets et les besoins
                                                                    évoluent toujours. Le framework Open Source Symfony2 utilisé
                                                                    est basé sur ce principe fondamental.
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        <div id="headingOne4" role="tab" class="panel-heading">
                                            <h4>
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                    Q4. Question ?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne4" role="tabpanel" aria-labelledby="headingOne4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    R&eacute;ponse !
                                                </p>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingTop20 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom30">
                        Pour en savoir plus sur l'Open Source et son application dans votre projet n'h&eacute;sitez pas &agrave;
                        <a href="{{ path('contact') }}">nous contacter</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}