{% extends 'base.html.twig' %}
{% block title %} - L'open source et moi{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>L'Open Source et moi</span></h1>
            </div>
            <div>
                <h2>Qu'est-ce que l'Open Source ?</h2>
                bla bla bla
                <br/>
                <a href="{{ path('opensource_philosophie') }}">Plus d'informations sur l'Open Source.</a>
                <br/>
                <h2>En quoi l'Open Source peut-il m'apporter quelque chose ?</h2>
                <br/>
                <h2>Qu'est-ce que l'Open Source va changer dans la vie de mon projet ?</h2>
                <br/>
                Pour en savoir plus sur l'Open Source et son application dans votre projet n'h&eacute;sitez pas &agrave;
                <a href="{{ path('contact') }}">nous contacter</a>.
            </div>
        </div>
    </div>
{% endblock %}